@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TimesNewRoman';
  src: url('../assets/times-new-roman/times-new-roman-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'TimesNewRoman';
}

 html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body{
    font-weight: lighter !important;
  }
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
  width: 0;
  scrollbar-width: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}


.odometer.odometer-auto-theme, .odometer.odometer-theme-default{
  font-family: 'TimesNewRoman';
}